<div class="c-page-404">
    <div class="l-columns l-columns--2-columns">
        <div class="l-columns__area">
            <h1 class="c-page-404__title g--margin-left-m">Error Page</h1>
            <h3 class="c-page-404__error-code g--margin-left-m">404 Not Found</h3>
            <p class="c-page-404__text g--margin-top-m g--margin-left-m">Parece que no hemos podido encontrar la página que buscas,
                si consideras que esta página debería existir, por favor, ponte
                en contacto con el administrador del sistema. En caso contrario,
                comprueba que la URL ha sido bien escrita.
            </p>
        </div>
        <div class="l-columns__area">
            <div class="c-page__visual g--margin-top-xl">
                <img class="c-page-404__img" src="../../../../assets/img/404-icon.svg"/>
                <p class="c-page-404__dialog">Parece que te has perdido... Puedes clicar
                    <a href="http://localhost:4200">aquí</a> y volver a la aplicación.
                </p>
            </div>
        </div>
    </div>
    <p class="c-page-404__copy-text">La imagen pertenece al proyecto <a href="https://www.openpeeps.com/" target="_blank">OpenPeeps</a> ©</p>
</div>