<div class="c-section">
    <div class="c-section__header">
        <h1 class="c-section__title">Estadísticas</h1>
    </div>
    <div class="c-section__content  g--padding-horizontal-m">
        <div class="l-columns l-columns--2-columns l-columns--1-columns@phone">
            <div class="l-columns__area">
                <div class="c-section">
                    <div class="c-section__header">
                        <div class="c-section__title c-section__title--little">Productos por tipo</div>
                    </div>
                    <div class="c-section__content">
                        <div class="chart-wrapper">
                            <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            [legend]="doughnutLegend">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-columns__area">
                <div class="c-section">
                    <div class="c-section__header">
                        <div class="c-section__title c-section__title--little">Pedidos Por Mes</div>
                    </div>
                    <div class="c-section__content">
                        <div class="chart-wrapper">
                            <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>