/* Coolors Exported Palette - coolors.co/b35106-ff872b-ff8711-009eb3-12e4ff */

/* HSL */
$primaryDark: hsla(26%, 94%, 36%, 1);
$primaryMedium: hsla(26%, 100%, 58%, 1);
$primaryLight: hsla(30%, 100%, 53%, 1);
$secondaryDark: hsla(187%, 100%, 35%, 1);
$secondaryLight: hsla(187%, 100%, 54%, 1);

/* RGB */
$primaryDark: rgba(179, 81, 6, 1);
$primaryMedium: rgba(255, 135, 43, 1);
$primaryLight: rgba(255, 135, 17, 1);
$secondaryDark: rgba(0, 158, 179, 1);
$secondaryLight: rgba(18, 228, 255, 1);