<div class="l-columns l-columns--2-columns l-columns--1-columns@phone">
    <div class="l-columns__area g--hide@phone">
        <div class="c-login__carousel-wrapper">
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="l-columns__area">
        <div class="c-section">
            <div class="c-section__header">
                <img class="c-section__img g--margin-top-l" src="../../assets/img/logos/logoNoSlogan.png"/>
                <h4 class="c-section__title c-section__title--little">Manage Panel</h4>
            </div>
            <div class="c-section__content g--margin-top-xl g--margin-top-l@small-desktop g--padding-horizontal-xl">
                <app-form [formType]="formType" [formTitle]="'Entra y gestiona tu empresa'" [buttonText]="'Enviar'" (formData)="logInSystem($event)"></app-form>
            </div>
        </div>
    </div>
</div>