@include fillButtonAnimation($updateColor, white, 'fillButtonProgressiveUpdate');
@include fillButtonAnimation(black, white, 'fillButtonProgressive');
@include fillButtonAnimation($newColor, white, 'fillButtonProgressiveNew');

.c-button {
    border-bottom: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border: 1px solid black;
    background: none;
    display: inline-block;
    font-family:$corporativeFormFont;

    &:hover {
        background-color: black;
        color: white; 
        
        animation-name: fillButtonProgressive;
        animation-duration: .5s;
    }

    &--little {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }

    &--warning {
        border: 0px solid transparent;
        text-decoration: underline;
        color: $warningColor;

        &:hover {
            background-color: transparent;
            color: $warningColor;
            animation: none;
        }
    }

    &--update {
        border: 1px solid $updateColor;
        color: $updateColor;

        &:hover {
            background-color: $updateColor;
            color: white;
            animation-name: fillButtonProgressiveUpdate;
            animation-duration: .5s;
        }
    }

    &--new {
        border: 1px solid $newColor;
        color: $newColor;

        &:hover {
            background-color: $newColor;
            color: white;
            
            animation-name: fillButtonProgressiveNew;
            animation-duration: .5s;
        }
    }
}