.c-section {

    &__header {
        text-align: center;
    }

    &__title {
        font-family: $corporativeTitlesFont;
        font-size: 100px;
        margin-bottom: 15px;
        &--little {
            font-size: 50px;
        }
    }

    &__img{

    }

    &__content {
        
    }

    &__menu {
        text-align: right;
    }

}