.l-puzzle {

    display: grid;
    grid-template-areas: "right top"
                           "right bottom";
    grid-template-columns: .5fr .5fr;

    &__right {
        grid-area: right;
    }

    &__top {
        grid-area: top;
    }

    &__bottom {
        grid-area: bottom;
    }

    @media ( max-width: 1293px ) {
        grid-template-areas: "right"
        "top"
        "bottom";

        &--no-action {
            grid-template-areas: "right top"
            "right bottom";
        }
    }

    @media ( max-width: 900px ) {
        grid-template-areas: "right"
        "top"
        "bottom";

        &--no-action {
            grid-template-areas: "right top"
            "right bottom";
        }
    }

}