<form class="c-form" [formGroup]="form" (ngSubmit)="sendForm()">
    <h1 class="c-form__title">{{formTitle}}</h1>
    <div class="c-form__unity" *ngIf="formType === 'login'" data-cy='login-email-unity'>
        <input class="c-form__input" formControlName='emailLogin' type="email" required data-cy="login-email"/>
        <label class="c-form__input-label">Introduce tu Email</label>
        <label class="c-form__error-message" *ngIf="submitted && form.get('emailLogin').errors?.required">Debes completar este campo</label>
        <label class="c-form__error-message" *ngIf="submitted && form.get('emailLogin').errors?.email">Formato de email erroneo</label>
    </div>
    <div class="c-form__unity" *ngIf="formType === 'login'" data-cy='login-password-unity'>
        <input class="c-form__input" formControlName='passwordLogin' type="password" required data-cy="login-password"/>
        <label class="c-form__input-label">Introduce tu Contraseña</label>
        <label class="c-form__error-message" *ngIf="submitted && form.get('passwordLogin').errors?.required">Debes completar este campo</label>
        <label class="c-form__error-message" *ngIf="submitted && form.get('passwordLogin').errors?.minlength">Debe tener al menos 6 caracteres</label>
    </div>
    <div class="c-form__unity">
        <input class="c-form__input c-form__input--little" formControlName='productNameFilter' type="text" *ngIf="formType === 'filterProducts'" placeholder="Nombre..." (keyup)='sendForm()'/>
        <input class="c-form__input c-form__input--little" formControlName='productName' type="text" *ngIf="formType === 'crudProduct'" placeholder="Nombre..." data-cy="productcrud-name"/>
        <div *ngIf="formType === 'crudProduct'">
            <label class="c-form__error-message" *ngIf="submitted && form.get('productName').errors?.required">Debes completar este campo</label>
        </div>  
    </div>
    <div class="c-form__unity">
        <input class="c-form__input c-form__input--little" formControlName='productPriceFilter' type="text" *ngIf="formType === 'filterProducts'" placeholder="Precio 0.00" (keyup)='sendForm()'/>
        <input class="c-form__input c-form__input--little" formControlName='productPrice' type="text" *ngIf="formType === 'crudProduct'" placeholder="Precio 0.00" data-cy="productcrud-price"/>
        <div *ngIf="formType === 'crudProduct'">
            <label class="c-form__error-message" *ngIf="submitted && form.get('productPrice').errors?.required">Debes completar este campo</label>
            <label class="c-form__error-message" *ngIf="submitted && form.get('productPrice').errors?.pattern">El campo debe ser númerico y con <br>dos decimales como máximo</label>
        </div> 
    </div>
    <div class="c-form__unity">
        <textarea class="c-form__input c-form__input--little" formControlName='productDescription' type="text" *ngIf="formType === 'crudProduct'" placeholder="Descripcion Producto" data-cy="productcrud-description"></textarea>
        <div *ngIf="formType === 'crudProduct'">
            <label class="c-form__error-message" *ngIf="submitted && form.get('productDescription').errors?.required">Debes completar este campo</label>
        </div> 
    </div>
    <div class="c-form__unity">
        <select class="c-form__select" formControlName='productCategoryFilter' *ngIf="formType === 'filterProducts'" (change)='categorySelected($event)'>
            <option value="">Selecciona Categoria</option>
            <option value="food">Comida</option>
            <option value="drink">Bebida</option>
        </select>
        <select class="c-form__select" formControlName='productCategory' *ngIf="formType === 'crudProduct'" data-cy="productcrud-category">
            <option value="">Selecciona Categoria</option>
            <option value="food">Comida</option>
            <option value="drink">Bebida</option>
        </select>
        <div *ngIf="formType === 'crudProduct'">
            <label class="c-form__error-message" *ngIf="submitted && form.get('productCategory').errors?.required">Debes completar este campo</label>
        </div> 
    </div>
    <select class="c-form__select" formControlName='orderState' *ngIf="formType === 'filterOrder'" (change)='sendForm()'>
        <option value="" value="">Selecciona Estado</option>
        <option value="pending" value="0">Pendiente de pago</option>
        <option value="payed" value="1">Pagado</option>
    </select>
    <div class="c-form__unity">
        <input class="c-form__input c-form__input--little" formControlName='restaurantNameFilter' type="text" *ngIf="formType === 'filterRestaurants'" placeholder="Nombre..." (keyup)='sendForm()'/>
        <input class="c-form__input c-form__input--little" formControlName='restaurantName' type="text" *ngIf="formType === 'crudRestaurant'" placeholder="Nombre..." data-cy="restaurantcrud-name"/>
        <div *ngIf="formType === 'crudRestaurant'">
            <label class="c-form__error-message" *ngIf="submitted && form.get('restaurantName').errors?.required">Debes completar este campo</label>
        </div>    
    </div>
    <div class="c-form__unity">
        <input class="c-form__input c-form__input--little" formControlName='restaurantCifFilter' type="text" *ngIf="formType === 'filterRestaurants'" placeholder="CIF" (keyup)='sendForm()'/>
        <input class="c-form__input c-form__input--little" formControlName='restaurantCif' type="text" *ngIf="formType === 'crudRestaurant'" placeholder="CIF" data-cy="restaurantcrud-cif"/>
        <div *ngIf="formType === 'crudRestaurant'">
            <label class="c-form__error-message" *ngIf="submitted && form.get('restaurantCif').errors?.required">Debes completar este campo</label>
        </div>
    </div>
    <select class="c-form__select g--margin-bottom-m" formControlName='restaurantOwner' *ngIf="formType === 'crudRestaurant'" data-cy="restaurantcrud-restaurant-owner">
        <option value="" value="">Selecciona Propietario</option>
        <option *ngFor='let user of users' [value]="user.id">{{user.username}}</option>
    </select>
    <div *ngIf="formType === 'crudRestaurant'">
        <label class="c-form__error-message" *ngIf="submitted && form.get('restaurantOwner').errors?.required">Debes completar este campo</label>
    </div>
    <div class="c-form__unity" *ngIf="formType === 'crudUsers'">
        <input class="c-form__input c-form__input--little" formControlName='userName' type="text" placeholder="Nombre..." data-cy="usercrud-username-input"/>
        <label class="c-form__error-message" *ngIf="submitted && form.get('userName').errors?.required">Debes completar este campo</label>
    </div>
    <div class="c-form__unity" *ngIf="formType === 'crudUsers'">
        <input class="c-form__input c-form__input--little" formControlName='userPassword' type="password" placeholder="Contraseña..." data-cy="usercrud-password-input"/>
        <label class="c-form__error-message" *ngIf="submitted && form.get('userPassword').errors?.required">Debes completar este campo</label>  
        <label class="c-form__error-message" *ngIf="submitted && form.get('userPassword').errors?.minlength">La contraseña debe tener almenos 6 caracteres</label>
    </div>
    <div class="c-form__unity" *ngIf="formType === 'crudUsers'">
        <input class="c-form__input c-form__input--little" formControlName='userEmail' type="text" placeholder="Email..." data-cy="usercrud-email-input" (keyup)="checkIfEmailExists()"/>
        <label class="c-form__error-message" *ngIf="submitted && form.get('userEmail').errors?.required">Debes completar este campo</label>
        <label class="c-form__error-message" *ngIf="submitted && userEmailExists">El email introducido ya existe</label>  
        <label class="c-form__error-message" *ngIf="submitted && form.get('userEmail').errors?.email">El formato de email debe ser correcto</label>    
    </div>
    <div class="c-form__unity" *ngIf="formType === 'crudUsers'">
        <input class="c-form__input c-form__input--little" formControlName='userPhonenumber' type="text" placeholder="Teléfono..." data-cy="usercrud-phone-input"/>
        <label class="c-form__error-message" *ngIf="submitted && form.get('userPhonenumber').errors?.required">Debes completar este campo</label> 
        <label class="c-form__error-message" *ngIf="submitted && form.get('userPhonenumber').errors?.minlength">El número debe tener 9 dígitos</label>
        <label class="c-form__error-message" *ngIf="submitted && form.get('userPhonenumber').errors?.maxlength">El número debe tener 9 dígitos</label>  
    </div>
    <select class="c-form__select g--margin-bottom-m" formControlName='userType' *ngIf="formType === 'crudUsers'" data-cy="usercrud-type-select">
        <option value="" value="">Selecciona Tipo</option>
        <option *ngFor='let userType of userTypes' [value]="userType">{{userType | userType}}</option>
    </select>
    <div *ngIf="formType === 'crudUsers'">
        <label class="c-form__error-message" *ngIf="submitted && form.get('userType').errors?.required">Debes completar este campo</label>
    </div>
    <label class="c-form__file" for="input-file" *ngIf="formType === 'crudProduct' || formType === 'crudRestaurant'">
        Selecciona Fichero...
    </label>
    <input type="file" accept='image/*' id="input-file" formControlName='file' *ngIf="formType === 'crudProduct' || formType === 'crudRestaurant'" (change)='onFileChange($event)' data-cy='input-img'/>
    <div class="c-form__button" *ngIf="formType !== 'filterProducts' && formType !== 'filterOrder' && formType !== 'filterRestaurants'">
        <button class="c-button" type="submit" data-cy='send-form'>{{buttonText}}</button>
    </div>
</form>