<div class="c-section">
    <div class="c-section__header">
        <h1 class="c-section__title c-section__title--little">Inicio</h1>
    </div>
    <div class="c-section__content g--padding-horizontal-l g--padding-top-l g--padding-horizontal-xl@tablet g--margin-horizontal-xl@tablet g--padding-horizontal-m@phone g--margin-horizontal-l@phone">
        <div class="l-puzzle">
            <div class="l-puzzle__right">
                <div class="c-card c-card--big g--margin-right-m g--margin-bottom-m@tablet">
                    <div class="c-card__header">
                        <img class="c-card__img" src="../../../../../assets/img/icons/417746.svg"/>
                        <h3 class="c-card__title c-card__title--big g--margin-top-s">Recomendaciones</h3>
                        <p class="c-card__description c-card__description--big c-card__description--justify g--margin-top-m">
                            Como administrador tendrás acceso a modificar todos los datos que estén relacionados con usuarios y restaurantes.
                            Por favor asegúrate antes de guardar los datos de que estás modificando las entidades que querías modificar y no otras.
                            En caso de que se produzca lo mencionado anterior, por favor, ponte en contacto con el equipo de Wait 4 Eat lo antes posible.
                        </p>
                    </div>
                </div>
            </div>
            <div class="l-puzzle__top">
                <div class="c-card c-card--horizontal">
                    <div class="l-puzzle l-puzzle--no-action">
                        <div class="l-puzzle__right">
                            <img class="c-card__img c-card__img--little g--margin-vertical-l g--margin-left-m" src="../../../../../assets/img/icons/contacto.svg"/>
                        </div>
                        <div class="l-puzzle__top">
                            <div class="c-card__title c-card__title--big g--margin-top-s">Contacta con nosotros</div>
                        </div>
                        <div class="l-puzzle__bottom">
                            <p class="c-card__description c-card__description--big g--margin-right-m g--margin-bottom-xl">
                                Ante cualquier duda o problema tienes los siguientes medios a tu disposición:<br><br>
                                    Email: <b>wait4eat@gmail.com</b><br>
                                    Tlf: <b>961 254 856</b><br>
                                    WhatsApp: <b>635985632</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-puzzle__bottom g--margin-top-m">
                <div class="c-card c-card--horizontal">
                    <div class="l-puzzle l-puzzle--no-action">
                        <div class="l-puzzle__right">
                            <img class="c-card__img c-card__img--little g--margin-vertical-l g--margin-left-m" src="../../../../../assets/img/icons/sugerencia.svg"/>
                        </div>
                        <div class="l-puzzle__top">
                            <div class="c-card__title c-card__title--big g--margin-top-s">Sugerencias</div>
                        </div>
                        <div class="l-puzzle__bottom">
                            <p class="c-card__description c-card__description--big g--margin-right-m g--margin-bottom-xl">
                                En caso de tener alguna sugerencia por favor, contacta con nosotros!<br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>