<div class="c-section">
    <div class="c-section__header">
        <h1 class="c-section__title">Usuarios</h1>
    </div>
    <div class="c-section__menu g--padding-m g--margin-right-l">
        <a class="c-button c-button--new" (click)='createUser()'>Crear Nuevo</a>
    </div>
    <div class="c-section__content g--padding-m g--margin-top-xs">
        <div class="c-table g--margin-left-xl g--margin-right-xl">
            <table class="c-table__content">
                <tr>
                    <th class="c-table__header-item">Id</th>
                    <th class="c-table__header-item">Nombre</th>
                    <th class="c-table__header-item">Email</th>
                    <th class="c-table__header-item">Teléfono</th>
                    <th class="c-table__header-item">Tipo</th>
                    <th class="c-table__header-item"></th>
                </tr>
                <tr *ngFor='let user of users'>
                    <td class="c-table__body-item">{{user.id}}</td>
                    <td class="c-table__body-item">{{user.username}}</td>
                    <td class="c-table__body-item">{{user.email}}</td>
                    <td class="c-table__body-item">{{user.phoneNumber}}</td>
                    <td class="c-table__body-item">{{user.type | userType}}</td>
                    <td class="c-table__body-item c-table--center-content">
                        <a class="c-button c-button--little c-button--update" (click)='updateUser(user)'>
                            <fa-icon class="c-menu__icon" [icon]="faEdit"></fa-icon>
                        </a>
                        <a class="c-button c-button--little c-button--warning g--margin-left-xs" (click)='deleteUser(user.id)'>
                            <fa-icon class="c-menu__icon" [icon]="faTrashAlt"></fa-icon>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>